# Production compose variables
POSTGRES_DB=warehouse
POSTGRES_USER=warehouse
POSTGRES_PASSWORD=warehouse

JWT_ACCESS_SECRET=replace_me
JWT_REFRESH_SECRET=replace_me

GOOGLE_CLIENT_ID=replace_me
GOOGLE_CLIENT_SECRET=replace_me

CORS_ORIGIN=http://localhost
